delete:
  tags:
    - Kubernetes
  summary: Delete all of an algorithm's jobs
  description: Delete algorithm jobs using algName and a default selector of algorithm-name={algName}
  parameters:
    - name: algName
      in: path
      description: Jobs associated to the algName will be deleted
      required: true
      schema:
        type: string
    - name: selector
      in: query
      description: Optional label selector, default being algorithm-name={algName}
      required: false
      schema:
        type: string
  responses:
    "200":
      $ref: "#/components/responses/kubernetes_jobSuccess"
    "400":
      $ref: "#/components/responses/badRequest"
    "401":
      $ref: "#/components/responses/unauthorized"
    "404":
      $ref: "#/components/responses/kubernetes_notFound"
    "500":
      description: internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/error"
    default:
      $ref: "#/components/responses/default"
